.portfolio {
    padding: 120px 0;
    background: linear-gradient(116deg, #FFF 31%, #F0EFFF 72%);

}

.button {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 80px;
}

.text {
    text-align: center;
    padding-bottom: 80px;
}

@media (max-width: 1000px) {
    .portfolio{
        padding: 80px 0;
    }
}