.rewards {
    background-color: #F6F5F9;
    padding: 100px 0 120px 0;
}

.wrapper {
    display: flex;
    flex-direction: column;
    gap: 80px;
}

.titleWrapper {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 16px;
    align-items: center;
}

.description {
    max-width: 560px;
}

.cardWrapper {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
}

.infoCardWrapper {
    display: flex;
    gap: 80px;
    align-items: center;
    justify-content: center;
}

.button {
    display: flex;
    justify-content: center;
    margin-top: 48px;
}

.infoCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.infoText {
    display: block;
    text-align: center;
    max-width: 886px;
    width: 100%;
}

.textContent {
    text-align: center;
}

.textWrapper {
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    gap: 6px;
    align-items: center;
}

.infoCardDescription {
    max-width: 220px;
}

@media (max-width: 1000px) {
    .rewards {
        background-color: #F6F5F9;
        padding: 80px 0 100px 0;
    }
}

@media (max-width: 600px) {
    .infoCardWrapper {
        gap: 40px;
        flex-wrap: wrap;
    }
}