.color {
    background: #7132F5;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    width: 100%;
}

.headerWrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding: 26px 40px;
}

.left {
    display: flex;
    align-items: center;
    gap: 72px;
}

.active {
    display: block;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: white;
    z-index: 10;
}

.burgerButton {
    display: none;
    font-size: 24px;
    background: none;
    border: none;
    cursor: pointer;
    color: #FFFFFF66;
}

.li {
    list-style-type: none;
}


.line {
    width: 2px;
    height: 20px;
    background: #404347;
}

.titleWrapper {
    display: flex;
    align-items: center;
    gap: 24px;
}

.link {
    text-decoration: none;
    margin: 0;
    padding: 0;
}

@media (max-width: 1000px) {
    .headerWrapper {
        padding: 12px 8px;;
    }

    .left {
        gap: 0;
    }

    .line {
        display: none !important;
    }

    .burgerButton {
        display: block;
    }

    .isActiveWrapper {
        display: flex;
        align-items: center;
        gap: 20px;
    }

    .active {
        display: block;
        position: absolute;
        top: 60px;
        left: 0;
        width: 100%;
        background-color: white;
        z-index: 10;
    }

    .titleWrapper {
        display: none;
        flex-direction: column;
        align-items: flex-start;
        padding-left: 24px;
        padding-top: 32px;
        background-color: #7132F5;
        gap: 16px;
        height: 100vh;
        overflow: hidden;
        position: fixed;
        width: 100vw;
        left: 0;
        top: 58px;
    }

    .burgerMenu {
        display: none;
        position: fixed;
    }

    .isActive {
        display: flex;
        z-index: 99;
    }
}

@media (max-width: 600px) {
    .isActiveWrapper {
        gap: 8px;
    }
}
