.carouselContainer {
    position: relative;
    overflow: hidden;
    max-width: 1200px;
}

.logos {
    display: flex;
    flex-direction: column;
    gap: 20px;
    position: relative;
    height: 100%;
    overflow: hidden;
}

.boxShadowLeft {
    position: absolute;
    width: 387px;
    height: 256px;
    background: linear-gradient(270deg, rgba(255, 255, 255, 0.00) 0%, #FFF 100%);
    z-index: 2;
}

.boxShadowRight {
    position: absolute;
    width: 387px;
    height: 256px;
    background: linear-gradient(90deg, rgba(241, 240, 255, 0.00) 0%, #F1F0FF 100%);
    right: 0;
    z-index: 2;
}

.horizontalSlide {
    display: inline-flex;
    white-space: nowrap;
    gap: 32px;
    align-items: center;
    overflow: hidden;
}


.item {
    display: flex;
    align-items: center;
    padding: 8px 12px;
    gap: 8px;
    border-radius: 9999px;
    background: #FFF;
    width: 100%;
    min-width: max-content;
}

.horizontalSlideWrapper {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

@media (max-width: 1000px) {
    .boxShadowRight {
        display: none;
    }
    .boxShadowLeft{
        display: none;
    }
}