.accent {
    color: #7132F5;
}

.accentSubdued {
    color: #C0B9FF;
}

.primary {
    color: #FFFFFF;
}

.primaryInverse {
    color: #1A1B22;
}

.secondary {
    color: #686B82;
}

.success {
    color: #08844F;
}